Package: ebapassword
Version: 1
Architecture: all
Depends: 
Pre-Depends:
Recommends: 
Maintainer: Bayram Karahan [bayramk@gmail.com]
Conflicts: 
Replaces: 
Provides: ebapassword
Description: ebapassword eklenti
